@keyframes appear{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }

}


@keyframes check-spin{
    0%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(0);
    }
}

@mixin all-shadow {
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);

}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0 13px 0;
    height: 63px;
    &__menu{
        justify-content: center;
        width: 0;
        & img{
            width: 162px;
            height: 36px;
            padding: 0px 19px 0px 16px;
            
        }
    }
    &__return{
        padding: 14px 20px;
    }
}

.main__picture{
    position: absolute;
    z-index: 1;
    &--img{

        & img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: relative;
        }

    }
}

.container{

    border-radius: 50px 50px 0 0;
    position: relative;
    z-index: 9999;
    background: #F6F6F6;
    margin-top: 50%;
}

.main{
    padding: 20px;
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        & h2{
            color: var(--Black, #101010);
            font-family: Shrikhand;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    

    

    }

    .food{
    
        display: flex;
        flex-direction: column;
        gap: 15px;
        @for $i from 1 through 3 {
            &:nth-child(#{$i}){
                animation-delay: 100ms
                * $i;
            }
        }
        animation: appear 1s;
        animation-fill-mode: both;
        &__title{
            margin-top: 40px;
            & h4{
                margin: 0;
                border-bottom: 2px solid;
                width: 40px;
                border-bottom-color: #99E2D0;
                text-transform: uppercase;
                font-weight: 300;
            }
        }
        &__card{
            overflow: hidden;
            display: flex;
            border-radius: 15.043px;
            background: var(--White, #FFF);
            @include all-shadow();
            & p{
                margin: 0;
                overflow: hidden;
                color: #000;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-family: Roboto;
                font-size: 15.043px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
            & h4{
                margin: 0;
                overflow: hidden;
                color: #000;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            &--descr{
                padding: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap
            }
            &--price{
                display: flex;
                align-items: flex-end;
                margin-left: auto;
                padding: 15px;
            }
            &--check{
                background-color: #99E2D0;
                padding: 24px;
                margin-right: -72px;
                margin-left: 10px;
                border-radius: 0 15px 15px 0;
                transition: all 500ms;
                .fa-check{
                    background: white;
                    border-radius: 50%;
                    padding: 4px 5px;
                    color: #99E2D0;
                }
                
            }
            &:hover {

            .food__card--check{
                margin-right: 0;
            }
            .fa-check{
                animation: check-spin 500ms ease-in-out;
            }
        }

        }
    
    }
    &__btn{

        display: flex;
        justify-content: center;
        margin-top: 40px;

    }


}






///Responsive tablette

@media (min-width:769px) and (max-width: 1024px){

    .main__picture{
        width: 100%;
        height: 240px;
        &--img{
            width: 100%;
            height: 138%;

    
        }
    }
    
    .container{
    
        margin-top: 29%;
        margin-left: 170px;
        margin-right: 170px;
    }
    
    .main{
        padding: 20px 100px;
        &__title{
    
        justify-content: center;
        align-items: center;
        gap: 20px;

        

        }
    

    

    
    }
    
    }
    
    .footer{
        margin-top: 50px;

}



///Responsive desktop
/// 
@media (min-width:1025px){

    
.main__picture{
    width: 100%;
    height: 332px;
    &--img{
        width: 100%;
        height: 138%;


    }
}

.container{

    margin-top: 29%;
    margin-left: 170px;
    margin-right: 170px;
}

.main{
    padding: 20px 210px;
    &__title{

    justify-content: center;
    align-items: center;
    gap: 20px;

    
    }




}

}

.footer{
    margin-top: 50px;

}