*{
    font-family: Roboto;
}
    $main-primary-color:#9356DC;
    $main-bg-color:#EAEAEA;
    $main-secondary-color:#FF79DA;
    $main-tr-color:#99E2D0;
:root{
    
}

#loader {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: white;
    animation: fadeOut 4s forwards; 
  
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 60px;
      height: 60px;
      margin: -30px 0 0 -30px;
      border: 6px solid #f4f4f4;
      border-top: 6px solid #3498db;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }
  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
body{
    margin: 0;
    counter-reset: counter-info 0;
}
@counter-style counter-info {
    prefix: "Nombre ";
    separator: ".";
    
  }


.section__title{
    margin: 0;
}

.section__subtitle{
    margin: 0;
}


/////////////////////////////


.header {
    &__menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        &--logo {
            padding: 14px 89px 13px 89px;
            display: flex;
            height: 63px;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
            width: 100%;
            img {
                width: 200px;
                height: 36px;
                padding: 0px 19px 0px 16px;
            }
        }
    }
}

.location {
    // ...
    &__section {
        // ...
        &--localisation {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            justify-content: center;
            gap: 17px;
            background-color: $main-bg-color;
        }
        &--title {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: var(--Background, #F6F6F6);
            padding: 40px;
            &--main-title {
                width: 275px;
                height: auto;
                text-align: center;
            }
            &--main-subtitle {
                width: 315px;
                height: auto;
                text-align: center;
            }
            & .btn-primary{
                margin-top: 30px;
                width: 218px;
                height: 50px;
                cursor: pointer;
                border-radius: 25px;
                background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
                border: $main-bg-color;
                /* Shadow/Button */
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            
                color: var(--White, #FFF);
                text-align: center;
            
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}



.fonctionnement {
    padding: 30px 20px 30px 20px;

    
        // ...
        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            .info {
                counter-increment: counter-info 1;

                display: flex;
                align-items: center;
                gap: 20px;
                width: 322.486px;
                height: 72.379px;
                flex-shrink: 0;
                border-radius: 20px;
                background: var(--Background, #F6F6F6);
                padding-left: 20px;
                /* Shadow/Instructions */
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            }
            .info::before{
                content: counter(counter-info) " ";
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $main-primary-color;
                color: white;
                text-align: center;
                line-height: 20px;
            }
            
            
        }
    
}

.restaurant {
    background: var(--Background, #F6F6F6);
    padding: 30px 17px 30px 17px;
    &__section {
        &--title {
            // ...
        }
        &--card {
            display: flex;
            flex-wrap: wrap;
            gap: 18px;
            .card {
                width: 100%;
                height: auto;
                border-radius: 15px;
                background: #FFF;
                display: flex;
                flex-direction: column;
            /* Shadow/Card */
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
                &__badge {
                    position: absolute;
                    background: $main-tr-color;
                    width: 80px;
                    height: 29px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 266px;
                    margin-top: 12px;
                    & p {
                        color: var(--Green-Font, #008766);
                    }
                }
                &__img {
                    object-fit: cover;
                    width: 100%;
                    height: 200px;
                    border-radius: 15px 15px 0 0;
                }
                &__descr {
                    display: flex;
                    justify-content: space-between;
                    align-items: center; 
                }
                &__icon {
                    margin-right: 20px;
                    & .fa-heart:hover{
                        
                    }
                }
                &__title {
                    margin-left: 14px;
                    & h3 {
                        margin-bottom: 0;
                    }
                    & p {
                        margin-top: 5px;
                    }
                }
                & img {
                    object-fit: cover;
                    width: 100%;
                    height: 200px;
                    border-radius: 15px 15px 0 0;
                }
            }
            & a {
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: #000;
            }
        }
    }
}

.footer {
    background: var(--Grey, #353535);
    color: var(--White, #FFF);
    padding: 22px 25px;
    &__container {
        // ...
        &--img {
            // ...
            & img {
                width: 139px;
                height: 27px;
            }
        }
        &--menu {
            // ...
            & ul {
                list-style-type: none;
                padding: 0;
            }
            ul li a {
                text-decoration: none;
                color: var(--White, #FFF);
            }
        }
    }
}

//Responsive Tablette 1024px

@media (min-width:769px) and (max-width: 1024px){
    .header {
        &__menu {
            display: flex;
            flex-wrap: wrap;
            &--logo {
                padding: 14px 89px 13px 89px;
                display: flex;
                height: 63px;
                justify-content: center;
                align-items: center;
                box-shadow:none;

            }
        }
    }
    
    .location {
        // ...
        &__section {
            // ...
            &--localisation {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                justify-content: center;
                gap: 17px;
                background-color: $main-bg-color;
            }
            &--title {
                display: flex;
                flex-direction: column;
                align-items: center;
                background: var(--Background, #F6F6F6);
                padding: 40px;
                &--main-title {
                    width: auto;
                    height: auto;
                    text-align: center;
                }
                &--main-subtitle {
                    width: auto;
                    height: auto;
                    text-align: center;
                }
                & .btn-primary{
                    margin-top: 30px;
                    width: 218px;
                    height: 50px;
                    cursor: pointer;
                    border-radius: 25px;
                    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
                    border: $main-bg-color;
                    /* Shadow/Button */
                    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                
                    color: var(--White, #FFF);
                    text-align: center;
                
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }
    }
    
    
    
    .fonctionnement {
        padding: 50px 90px ;
    
        
            // ...
            &__info {
                display: flex;
                flex-direction:row;
                align-items: center;
                gap: 30px;
                .info {
    
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    width: 250px;
       
                }

                
            }
        
    }
    
    .restaurant {
        background: var(--Background, #F6F6F6);
        padding: 30px 90px;
        &__section {
            &--title {
                // ...
            }
            &--card {
                display: flex;
                flex-wrap: wrap;
                gap: 0;
                row-gap: 50px;
                justify-content:space-around;
                margin-top: 28px;
                .card {
                    width: 40%;
                    height: auto;
                    border-radius: 15px;
                    background: #FFF;
                    display: flex;
                    flex-direction: column;
                /* Shadow/Card */
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
                    &__badge {
                        position: absolute;
                        background: $main-tr-color;
                        width: 80px;
                        height: 29px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 266px;
                        margin-top: 12px;
                        & p {
                            color: var(--Green-Font, #008766);
                        }
                    }
                    &__img {
                        object-fit: cover;
                        width: 100%;
                        height: 200px;
                        border-radius: 15px 15px 0 0;
                    }
                    &__descr {
                        display: flex;
                        justify-content: space-between;
                        align-items: center; 
                    }
                    &__icon {
                        margin-right: 20px;
                        & .fa-heart:hover{
                            
                        }
                    }
                    &__title {
                        margin-left: 14px;
                        & h3 {
                            margin-bottom: 0;
                        }
                        & p {
                            margin-top: 5px;
                        }
                    }
                    & img {
                        object-fit: cover;
                        width: 100%;
                        height: 200px;
                        border-radius: 15px 15px 0 0;
                    }
                }
                & a {
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
    
    .footer {
        background: var(--Grey, #353535);
        color: var(--White, #FFF);
        padding: 22px 25px;
        &__container {
            // ...
            &--img {
                // ...
                & img {
                    width: 139px;
                    height: 27px;
                }
            }
            &--menu {
                // ...
                & ul {
                    list-style-type: none;
                    padding: 0;
                }
                ul li a {
                    text-decoration: none;
                    color: var(--White, #FFF);
                }
            }
        }
    }
}


//Responsive Desktop 1440px

@media (min-width:1025px){
    .header {
        &__menu {
            display: flex;
            flex-wrap: wrap;
            &--logo {
                padding: 14px 89px 13px 89px;
                display: flex;
                height: 63px;
                justify-content: center;
                align-items: center;
                box-shadow:none;

            }
        }
    }
    
    .location {
        // ...
        &__section {
            // ...
            &--localisation {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                justify-content: center;
                gap: 17px;
                background-color: $main-bg-color;
            }
            &--title {
                display: flex;
                flex-direction: column;
                align-items: center;
                background: var(--Background, #F6F6F6);
                padding: 40px;
                &--main-title {
                    width: auto;
                    height: auto;
                    text-align: center;
                }
                &--main-subtitle {
                    width: auto;
                    height: auto;
                    text-align: center;
                }
                & .btn-primary{
                    margin-top: 30px;
                    width: 218px;
                    height: 50px;
                    cursor: pointer;
                    border-radius: 25px;
                    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
                    border: $main-bg-color;
                    /* Shadow/Button */
                    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                
                    color: var(--White, #FFF);
                    text-align: center;
                
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }
    }
    
    
    
    .fonctionnement {
        padding: 50px 90px ;
    
        
            // ...
            &__info {
                display: flex;
                flex-direction:row;
                align-items: center;
                gap: 0;
                justify-content: space-between;
                .info {
    
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    width: 322.486px;
       
                }

                
            }
        
    }
    
    .restaurant {
        background: var(--Background, #F6F6F6);
        padding: 30px 90px;
        &__section {
            &--title {
                // ...
            }
            &--card {
                display: flex;
                flex-wrap: wrap;
                gap: 0;
                row-gap: 50px;
                justify-content:space-around;
                margin-top: 28px;
                .card {
                    width: 40%;
                    height: auto;
                    border-radius: 15px;
                    background: #FFF;
                    display: flex;
                    flex-direction: column;
                /* Shadow/Card */
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
                    &__badge {
                        position: absolute;
                        background: $main-tr-color;
                        width: 80px;
                        height: 29px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 266px;
                        margin-top: 12px;
                        & p {
                            color: var(--Green-Font, #008766);
                        }
                    }
                    &__img {
                        object-fit: cover;
                        width: 100%;
                        height: 200px;
                        border-radius: 15px 15px 0 0;
                    }
                    &__descr {
                        display: flex;
                        justify-content: space-between;
                        align-items: center; 
                    }
                    &__icon {
                        margin-right: 20px;
                        & .fa-heart:hover{
                            
                        }
                    }
                    &__title {
                        margin-left: 14px;
                        & h3 {
                            margin-bottom: 0;
                        }
                        & p {
                            margin-top: 5px;
                        }
                    }
                    & img {
                        object-fit: cover;
                        width: 100%;
                        height: 200px;
                        border-radius: 15px 15px 0 0;
                    }
                }
                & a {
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
    
    .footer {
        background: var(--Grey, #353535);
        color: var(--White, #FFF);
        padding: 22px 25px;
        &__container {
            
            &--img {
                // ...
                & img {
                    width: 139px;
                    height: 27px;
                }
            }
            &--menu {
                // ...
                & ul {
                    list-style-type: none;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    justify-content: center;
                }
                ul li a {
                    text-decoration: none;
                    color: var(--White, #FFF);
                }
            }
        }
    }
}